This is a resource for unlocking the master D'Lonzo as early as possible.

D'Lonzo needs 15 *unequipped* weapons, so you'll need to save extras:
  - need to give Rei and Teepo two blades (Dagger and Ballock Knife are only feasible options)
  - extra blade for Ryu (can easily get 2 Bent Swords for free)
  - wand/rod for Nina (Pointed Sticks are free, and give an opportunity to gain some first levels/skills)
  - there's nothing you can do about Momo (give her anything)


Here is a list of weapons you can get before/at the same time as you reach D'Lonzo, where to get them, and how many you should get.
Weapons in brackets are either not worth it, or will be equipped to someone so don't add to the count.

1)  Melted Blade        Mogu's corpse 
2)  Dagger        x2    equipped on Ryu and Teepo 
3)  Ballock Knife x2    equipped on Rei, dead body in Mt. Glauss, buy in McNeil (100z)
4)  Bent Sword    x2    pile of bones, Mt. Boumore
5)  Bronze Sword        buy in McNeil or Wyndia (240z)
6)  Pointed Stick x2    steal/drop from Man Trap
7)  Silver Knife        Yrall Manillo (2 Rainbow Trout + 2 Trout), Momo's Tower
8)  Broad Sword         McNeil Roof, buy in Wyndia (600z) or Genmel (420z), Nut Troop drop
9)  Oaken Staff         equipped on Nina
10) Mace                Wynida (400z) or Genmel (280z)
   (Claymore            Wyndia (2500z))
11) Scramasax           Genmel (840z), Fairy Woods
12) Magician rod        Genmel (546z)
13) Rippers             Genmel (420z)
   (Ammo                equipped on Momo)
14) Ice Chrysm          
15) Fire Chrysm


Weapon Route:
------------
Here is the cheapest route for getting weapons needed, total cost 1486z
- pick up Melted Blade on Mogu's corpse
- get 2 Daggers automatically on Ryu and Teepo
- get a Ballock Knife automatically on Rei
- steal 2 Pointed Sticks from man traps (do any time before Fire House)
- pick up Ballock Knife and Bent Sword in Nu's cave
- buy Bronze Sword (preferably in McNeil, during Mygas money-dump) for 240z
- buy Silver Knife with 2 Trout and 2 Rainbow Trout
- pick up Broad Sword on McNeil Roof
- get Oaken Staff automatically on Nina
- buy Mace, Magician rod, and Rippers in Genmel for 280z + 546z + 420z
- get Ammo automatically on Momo
- find Ice Chrysm and Fire Chrysm in Momo's Tower
- find Scramasax in Faerie Pond
